<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="bootstrap/tests.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="false"
    convertWarningsToExceptions="false"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
>
    <testsuites>
        <testsuite>
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>app</directory>
            <file>helpers.php</file>
        </whitelist>
    </filter>
    <php>
        <env name="TEST_HOST" value="127.0.0.1"/>
        <env name="TEST_PORT" value="8888"/>
    </php>
</phpunit>
